<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="MeloThemes Team">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	<meta name="keywords" content="DigiWeb, internet marketing, digital marketing, landing page, html template">
	<meta name="description" content="DigiWeb is a professionally designed landing page for Internet Marketing and Digital Marketing Agencies.">
	<title>DigiWeb - Internet Marketing Landing Page</title>
	<link rel="shortcut icon" href="{%  static 'lavado/images/ico_uno.png' %}" />
	<link rel="stylesheet" type="text/css" href="{%  static 'lavado/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{%  static 'lavado/css/style_index.css' %}">
	<link href="{%  static 'lavado/css/one.css' %}" id="style_theme" rel="stylesheet">
	<!--[if lt IE 9]>         <script src="js/html5shiv.js"></script>         <script src="js/respond.min.js"></script>     <![endif]-->
</head>

<body>

	<!-- PRELOADER -->
	<div id="preloader">
		<div id="status">
			<div class="cp-spinner cp-morph"></div>
		</div>
	</div>
	<!-- /PRELOADER -->

	<!-- 
	<div class="theme-settings" id="switcher">
		<span class="theme-click"><i class="fa fa-cog fa-spin" aria-hidden="true"></i></span>
		<span class="theme-color theme-default theme-active" data-color="one"></span>
		<span class="theme-color theme-color-two" data-color="two"></span>
		<span class="theme-color theme-color-three" data-color="three"></span>
		<span class="theme-color theme-color-four" data-color="four"></span>
		<span class="theme-color theme-color-five" data-color="five"></span>
		<span class="theme-color theme-color-six" data-color="six"></span>
		<span class="theme-color theme-color-seven" data-color="seven"></span>
		<span class="theme-color theme-color-eight" data-color="eight"></span>
		<span class="theme-color theme-color-nine" data-color="nine"></span>
		<span class="theme-color theme-color-ten" data-color="ten"></span>
		<span class="theme-color theme-color-eleven" data-color="eleven"></span>
		<span class="theme-color theme-color-twelve" data-color="twelve"></span>
		<span class="theme-color theme-color-thirteen" data-color="thirteen"></span>
		<span class="theme-color theme-color-fourteen" data-color="fourteen"></span>
		<span class="theme-color theme-color-fifteen" data-color="fifteen"></span>
	</div>
	-->

	<!-- 
	<nav class="navbar navbar-default cs-primary-navbar">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand cs-logo" href="index.html"><img src="{% static 'lavado/images/logo.png' %}" alt="logo"></a>
				<button type="button" class="navbar-toggle offcanvas-toggle pull-right" data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas" style="float:left;">
						<span class="sr-only">Toggle navigation</span>
						<span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</span>
					</button>
			</div>
			<div class="navbar-offcanvas navbar-offcanvas-touch navbar-offcanvas-right" id="js-bootstrap-offcanvas">
				<ul class="nav navbar-nav navbar-right">
					<li> <span class="cs-nav-text">Stay Connected</span></li>
					<li>
						<a href="#features" class="wow zoomIn animated" data-wow-delay="0.6s"> <i class="cs-fa fa fa-facebook" aria-hidden="true"></i> <span class="visible-xs-inline-block"> &nbsp; Facebook</span> </a>
					</li>
					<li>
						<a href="#features" class="wow zoomIn animated" data-wow-delay="0.8s"> <i class="cs-fa fa fa-twitter" aria-hidden="true"></i>  <span class="visible-xs-inline-block"> &nbsp; Twitter</span> </a>
					</li>
					<li>
						<a href="#features" class="wow zoomIn animated" data-wow-delay="1s"> <i class="cs-fa fa fa-linkedin" aria-hidden="true"></i> <span class="visible-xs-inline-block"> &nbsp; LinkdIn</span>  </a>
					</li>
					<li>
						<a href="#features" class="wow zoomIn animated" data-wow-delay="1.2s"> <i class="cs-fa fa fa-vimeo" aria-hidden="true"></i> <span class="visible-xs-inline-block">  &nbsp;Vimeo</span>  </a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	 -->

	<!-- Header -->
	<header>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-6">
					<div class="header-content">
						<h1 class="wow animated fadeInUp centrar" data-wow-delay="600ms">
							¿ Quiere garantizar la calidad de agua que consume su comunidad?
						</h1>
						
						<div class="col-12 centrar" style="margin: 50px 10px;">
							<img src="{% static 'lavado/images/f_dos.png' %}" alt="" class="img-fluid" data-wow-delay="700ms">

						</div>
					
						<p class="centrar">
							Con nuestro servicio especializado en <span style="font-weight: 1200;">HIDROLAVADO, DESINFECCION Y MANTENIMIENTO</span> para tanques de 
							almacenamiento de agua potable usted podrá hacerlo!…
						</p>
						<div class="centrar wow animated fadeInUp" data-wow-delay="700ms">
							<button class="btnContact">
								<a href="https://wa.me/+573207279729?text=Atenderemos%20tus%20el%20necesidades"><i class="fa fa-comments-o"></i> (+57) 320 7279729</a>
							</button>
						</div>
						
						<h4 class="centrar" >
							*ESTAMOS CERFITICADOS POR LA SECRETARIA DE SALUD PUBLICA MUNICIPARL DE SANTIAGO DE CALI*
						</h4>
	
						
						<ul class="col-12 centrar wow animated fadeInUp" data-wow-delay="1000ms">
							<li><a href="#" class="btn btn-primary"><i class="fa fa-globe" ></i> Haz Click aquí para mayor información</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6">
					<form>
						<div class="cs-header-form">
							<h2 >Deje sus datos para responderle</h2>
							<h4 >Un asesor se pondra en contacto con usted</h4>
							<div class="form-group cs-form-group">
								<input type="text" class="form-control" placeholder="NOMBRE" required="">
							</div>
							<div class="form-group cs-form-group">
								<input type="email" class="form-control" placeholder="CORREO" required="">
							</div>
							<div class="form-group cs-form-group">
								<input type="number" class="form-control" min="7" max="10" placeholder="NUMERO TELEFONICO" required="">
							</div>
							<div class="form-group cs-form-group" >
								<textarea name="" class="form-control" id="" cols="30" rows="10" placeholder="MENSAJE" required=""></textarea>
					
							</div>
							
							<button type="submit" class="btn btn-primary btn-block">Enviar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<br><br><br>
	</header>
	<!-- /Header -->

	<!-- Icon Texts -->
	<section class="section-small">
		<div class="container">
			<div class="row">
				<div class="col-sm-12" >
					<div class="cs-section-heading">
						<h2 class="wow animated fadeInUp">¿POR QUÉ SOMOS LA MEJOR OPCIÓN?</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="cs-icon-text wow animated fadeInUp" data-wow-delay="500ms" >
						<div class="centrar">
							<img src="{% static 'lavado/images/ico_cinco.png' %}" class="img-fuid" alt="">
						</div>
						<h4>Diagnostico de calidad de agua</h4>
						<p>
							Entrega CERTIFICACION del agua una vez realizado el proceso de hidrolavado 
							y desinfección, por laboratorio especializado.</p>
						<a href="#" class="cs-icon-text-link"><i class="fa fa-angle-right"></i></a>
					</div>
				</div>
				<div class="col-sm-4 wow animated fadeInUp" data-wow-delay="800ms">
					<div class="cs-icon-text">
						<div class="centrar">
							<img src="{% static 'lavado/images/ico_tres.png' %}" class="img-fuid" alt="">
						</div>
						
						<h4>Deshidratacion mecanizada</h4>
						<p>Eliminacion de lodos. <br>
							Limpieza a alta presión. <br>							
							Limpieza por aspiración. <br>							
							Limpieza Química.</p>
						<a href="#" class="cs-icon-text-link"><i class="fa fa-angle-right"></i></a>
					</div>
				</div>
				<div class="col-sm-4 wow animated fadeInUp" data-wow-delay="1000ms">
					<div class="cs-icon-text">
						<div class="centrar">
							<img src="{% static 'lavado/images/ico_cuatro.png' %}" class="img-fuid" alt="">
						</div>
						
						<h4>
							Saneamiento de fisuras, fugas y filtraciones.
						</h4>
						<a href="#" class="cs-icon-text-link"><i class="fa fa-angle-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /Icon Texts -->

	

	<!-- Google Map -->
	<div  >
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3982.5177316041786!2d-76.53470978606599!3d3.466620152087663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a613912fff2b%3A0x2d60967697df781c!2sCl.%2024a%20Nte.%20%238-22%2C%20Cali%2C%20Valle%20del%20Cauca!5e0!3m2!1ses!2sco!4v1615608464144!5m2!1ses!2sco" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

	</div>
	<!-- /Google Map -->

	<!-- Footer -->
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="cs-footer-about">
						<h4 class="cs-footer-title wow animated fadeInUp">Quienes Somos ?</h4>
						<p style="text-align: justify;">
							Somos una empresa especializada en el diseño e implementación de soluciones de IMPERMEABILIZACIÓN.
							A través de nuestra amplia experiencia y apoyados en productos de alta tecnología e innovación, le brindamos 
							a nuestros clientes la tranquilidad de contar con soluciones de calidad y estabilidad en el tiempo.
						</p>
						<div><a href="#" class="cs-link">Read More</a></div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2 col-md-12">
							<h4 class="cs-footer-title wow animated fadeInUp">Otros Servicios</h4>
							<ul class="cs-footer-links">
								<li><a href="http://pisoarquitectonico.com/" target="__blank"  >Pisos Arquitectonicos</a></li>
								<li><a href="http://www.siamcoingenieria.com/" target="__blank">Construccion</a></li>
								<li><a href="https://impermeabilizacion.com.co/" target="__blank">Impermeabilizaciones</a></li>

							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<h4 class="cs-footer-title wow animated fadeInUp">Infomacion de Contacto</h4>
					<div class="cs-contact-icontext">
						<div class="media-left">
							<i class="fa fa-map-marker cs-icon"></i>
						</div>
						<div class="media-body">
							<p>Calle 24A Norte No. 8N-31, Cali – Colombia</p>
						</div>
					</div>
					<div class="cs-contact-icontext">
						<div class="media-left">
							<i class="fa fa-phone cs-icon"></i>
						</div>
						<div class="media-body">
							<p>+57 (2) 650-4101 / 316 878 22 90</p>
						</div>
					</div>
					<div class="cs-contact-icontext">
						<div class="media-left">
							<i class="fa fa-envelope-o cs-icon"></i>
						</div>
						<div class="media-body">
							<p>info@impermeabilizacion.com.co</p>
						</div>
					</div>
					<div class="cs-contact-icontext">
						<div class="media-left">
							<i class="fa fa-clock-o cs-icon"></i>
						</div>
						<div class="media-body">
							<p>Lun - Sab: 8:00 - 18:00</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="cs-copyright-bar">
		<div class="container">
			<ul class="cs-footer-navbar">
				<li><a href="#">Home </a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Terms & Conditions</a></li>
			</ul>
			<div class="cs-copy-text">Copyright 2021 © Siamco Ingenieria SAS. Todos los derechos reservados. </div>
		</div>
		<a href="#" class="btn-primary back-to-top show" title="Move to top"><i class="glyphicon glyphicon-arrow-up"></i></a>

	</div>
	<!-- /Footer -->
	<!-- Script files -->
	<script src="{% static 'lavado/js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'lavado/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'lavado/js/bootstrap.offcanvas.js' %}"></script>
	<script src="{% static 'lavado/js/wow.min.js' %}"></script>
	<script src="{% static 'lavado/js/slider/owl.carousel.min.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDO_lURb8GWwWr1uf2oIlH9Rx1NL9i2gWg" type="text/javascript"></script>
	<script src="{% static 'lavado/js/main.js' %}"></script>

	<script>
		/*Bootstrap Tooltip*/
		$(function() {
			$('[data-toggle="tooltip"]').tooltip({
				trigger: 'manual'
			}).tooltip('show');
		});

		/*Bootstrap Progressbar animation*/
		$(".progress-bar").each(function() {
			each_bar_width = $(this).attr('aria-valuenow');
			$(this).width(each_bar_width + '%');
		});

	</script>
	<script>
		$(document).ready(function() {
			"use strict";

			function e() {
				var e = {
						center: a,
						zoom: 10,
						/*scrollwheel:!0*/
						scrollwheel: false,
						mapTypeId: google.maps.MapTypeId.ROADMAP,
						styles: [{
							featureType: "landscape",
							stylers: [{
								hue: "#FFBB00"
							}, {
								saturation: 43.400000000000006
							}, {
								lightness: 37.599999999999994
							}, {
								gamma: 1
							}]
						}, {
							featureType: "road.highway",
							stylers: [{
								hue: "#FFC200"
							}, {
								saturation: -61.8
							}, {
								lightness: 45.599999999999994
							}, {
								gamma: 1
							}]
						}, {
							featureType: "road.arterial",
							stylers: [{
								hue: "#FF0300"
							}, {
								saturation: -100
							}, {
								lightness: 51.19999999999999
							}, {
								gamma: 1
							}]
						}, {
							featureType: "road.local",
							stylers: [{
								hue: "#FF0300"
							}, {
								saturation: -100
							}, {
								lightness: 52
							}, {
								gamma: 1
							}]
						}, {
							featureType: "water",
							stylers: [{
								hue: "#0078FF"
							}, {
								saturation: -13.200000000000003
							}, {
								lightness: 2.4000000000000057
							}, {
								gamma: 1
							}]
						}, {
							featureType: "poi",
							stylers: [{
								hue: "#00FF6A"
							}, {
								saturation: -1.0989010989011234
							}, {
								lightness: 11.200000000000017
							}, {
								gamma: 1
							}]
						}]

					},
					t = new google.maps.Map(document.getElementById("pw-portal-map"), e),
					s = {
						url: ""
					},
					o = new google.maps.Marker({
						position: a,
						map: t,
						icon: s,
						animation: google.maps.Animation.BOUNCE
					});
				o.setMap(t);
				var n = new google.maps.InfoWindow({
					content: "<strong>Silicon Valley, HITEC City <br> Hyderabad, Telangana 500081</strong>"
				});
				google.maps.event.addListener(o, "click", function() {
					n.open(t, o)
				})
			}
			var a;
			a = new google.maps.LatLng("17.451603", "78.380930"), google.maps.event.addDomListener(window, "load", e), a = new google.maps.LatLng("17.451603", "78.380930")
		});

	</script>
</body>

</html>
