<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="SIAMCO SAS">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	<meta name="keywords" content="Lavado de tanques y desinfección">
	<meta name="description"
		content="Lavado de tanques y desinfección">
	<title>Lavado de Tanques</title>
	<link rel="shortcut icon" href="{%  static 'lavado/images/ico_uno.png' %}" />
	<link rel="stylesheet" type="text/css" href="{%  static 'lavado/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{%  static 'lavado/css/style_index.css' %}">
	<link href="{%  static 'lavado/css/one.css' %}" id="style_theme" rel="stylesheet">
	<!--[if lt IE 9]>         <script src="js/html5shiv.js"></script>         <script src="js/respond.min.js"></script>     <![endif]-->
</head>

<body>

	<!-- PRELOADER -->
	<div id="preloader">
		<div id="status">
			<div class="cp-spinner cp-morph"></div>
		</div>
	</div>
	<!-- /PRELOADER -->


	<!-- Navbar -->
	<nav class="navbar navbar-default cs-primary-navbar">
		<div class="container">
			<div class="navbar-header">


			</div>

		</div>
	</nav>
	<!-- /Navbar -->

	<!-- Header -->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="header-content">
						<h1 class="wow animated fadeInUp" data-wow-delay="600ms">
							¿ Quiere garantizar la calidad de agua que consume su comunidad?
						</h1>
						<br>
						<p>
							Con nuestro servicio especializado en HIDROLAVADO, DESINFECCION Y MANTENIMIENTO para
							tanques de almacenamiento de agua potable usted podrá hacerlo!…
							<br><br><br>
							*ESTAMOS CERFITICADOS POR LA SECRETARIA DE SALUD PUBLICA MUNICIPARL DE SANTIAGO DE CALI*
							<br><br>
						</p>

						<ul class="list-inline wow animated fadeInUp" data-wow-delay="1000ms">
							<li><a href="#" class="btn btn-primary">Mas...</a></li>
						</ul>
						<br>
					</div>
				</div>
				<div class="col-sm-6">
					<form>
						<div class="cs-header-form">
							<div class="logo centrar">
								<img src="static/lavado/images/f_dos.png" alt="">
							</div>
							<br>
							<h2>Deje sus datos para responderle</h2>
							<br>
							<div class="form-group cs-form-group">
								<input type="text" class="form-control" placeholder="NOMBRE *" required="">
							</div>
							<div class="form-group cs-form-group">
								<input type="email" class="form-control" placeholder="CORREO ELECTRONICO *" required="">
							</div>
							<div class="form-group cs-form-group">
								<input type="text" class="form-control" placeholder="TELEFONO *" required="">
							</div>
							<div>
								<label><input type="checkbox" required="" id="cbox1" value="first_checkbox"> <a href="" style="color: aliceblue;" >Aceptacion politica y tratamiento de datos*</a></label><br><br>
							</div>
							<button type="submit" class="btn btn-primary btn-block">ENVIAR</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Icon Texts -->
	<section class="section-small">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="cs-section-heading">
						<h2 class="wow animated fadeInUp">¿POR QUÉ SOMOS LA MEJOR OPCIÓN?</h2>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="cs-icon-text wow animated fadeInUp" data-wow-delay="500ms">
						<div class="icon">
							<img src="static/lavado/images/ico_cinco.png" alt="">
						</div>
						<h4>Diagnostico de calidad de agua .</h4>
						<p>

							Entrega CERTIFICACION del agua una vez realizado el proceso de hidrolavado y desinfección,
							por laboratorio especializado.
						</p>
						<a href="#" class="cs-icon-text-link"><i class="fa fa-angle-right"></i></a>
					</div>
				</div>
				<div class="col-sm-4 wow animated fadeInUp" data-wow-delay="800ms">
					<div class="cs-icon-text">
						<div class="icon">
							<img src="static/lavado/images/ico_tres.png" alt="">
						</div>
						<h4>
							Deshidratacion mecanizada.
						</h4>
						<p>	
							Eliminacion de lodos.<br>
							Limpieza a alta presión.<br>
							Limpieza por aspiración.<br>
							Limpieza Química.
						</p>
						<br>
						<a href="#" class="cs-icon-text-link"><i class="fa fa-angle-right"></i></a>
					</div>
				</div>
				<div class="col-sm-4 wow animated fadeInUp" data-wow-delay="1000ms">
					<div class="cs-icon-text">
						<div class="icon">
							<img src="static/lavado/images/ico_cuatro.png" alt="">
						</div>
						<h4>Saneamiento de fisuras, fugas y filtraciones.</h4>
						<p>...</p>

						<br>
						<br>
						<br>
						<br>
						<a href="#" class="cs-icon-text-link"><i class="fa fa-angle-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /Icon Texts -->

	<!--  Call Action  #Subscribe -->
	<div class="cs-call-action2">
		<div class="container-fluid centrar">
			<div class="row">
				<div class="col-lg-6">
					<h2 class="wow fadeInDown animated animated" style="visibility: visible; animation-name: fadeInDown;">Comunicate Con Nosotros </h2>
				</div>
				<div class="col-lg-6">
					<p class="wow fadeInUp animated animated" style="visibility: visible; animation-name: fadeInUp;">
						<i class="fa fa-whatsapp" aria-hidden="true"> (+57) 322 2706969</i> 	 
					</p>
				</div>
				
			</div>
		</div>
	</div>
	<!-- /Call Action  #Subscribe -->


	<div class="cs-copyright-bar">
		<div class="container">
			<ul class="cs-footer-navbar">
				<li><a href="#">Politica de Tratamiento de Datos</a></li>
			</ul>
			<div class="cs-copy-text">Copyright 2021 Siamco Ingenieria SAS. Todos los derechos reservados.  </div>
		</div>
		<a href="#" class="btn-primary back-to-top show" title="Move to top"><i
				class="glyphicon glyphicon-arrow-up"></i></a>

	</div>

	<!-- /Footer -->
	<!-- Script files -->
	<script src="{% static 'lavado/js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'lavado/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'lavado/js/bootstrap.offcanvas.js' %}"></script>
	<script src="{% static 'lavado/js/wow.min.js' %}"></script>
	<script src="{% static 'lavado/js/slider/owl.carousel.min.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDO_lURb8GWwWr1uf2oIlH9Rx1NL9i2gWg"
		type="text/javascript"></script>
	<script src="{% static 'lavado/js/main.js' %}"></script>

	<script>
		/*Bootstrap Tooltip*/
		$(function () {
			$('[data-toggle="tooltip"]').tooltip({
				trigger: 'manual'
			}).tooltip('show');
		});

		/*Bootstrap Progressbar animation*/
		$(".progress-bar").each(function () {
			each_bar_width = $(this).attr('aria-valuenow');
			$(this).width(each_bar_width + '%');
		});

	</script>
	<script>
		$(document).ready(function () {
			"use strict";

			function e() {
				var e = {
					center: a,
					zoom: 10,
					/*scrollwheel:!0*/
					scrollwheel: false,
					mapTypeId: google.maps.MapTypeId.ROADMAP,
					styles: [{
						featureType: "landscape",
						stylers: [{
							hue: "#FFBB00"
						}, {
							saturation: 43.400000000000006
						}, {
							lightness: 37.599999999999994
						}, {
							gamma: 1
						}]
					}, {
						featureType: "road.highway",
						stylers: [{
							hue: "#FFC200"
						}, {
							saturation: -61.8
						}, {
							lightness: 45.599999999999994
						}, {
							gamma: 1
						}]
					}, {
						featureType: "road.arterial",
						stylers: [{
							hue: "#FF0300"
						}, {
							saturation: -100
						}, {
							lightness: 51.19999999999999
						}, {
							gamma: 1
						}]
					}, {
						featureType: "road.local",
						stylers: [{
							hue: "#FF0300"
						}, {
							saturation: -100
						}, {
							lightness: 52
						}, {
							gamma: 1
						}]
					}, {
						featureType: "water",
						stylers: [{
							hue: "#0078FF"
						}, {
							saturation: -13.200000000000003
						}, {
							lightness: 2.4000000000000057
						}, {
							gamma: 1
						}]
					}, {
						featureType: "poi",
						stylers: [{
							hue: "#00FF6A"
						}, {
							saturation: -1.0989010989011234
						}, {
							lightness: 11.200000000000017
						}, {
							gamma: 1
						}]
					}]

				},
					t = new google.maps.Map(document.getElementById("pw-portal-map"), e),
					s = {
						url: ""
					},
					o = new google.maps.Marker({
						position: a,
						map: t,
						icon: s,
						animation: google.maps.Animation.BOUNCE
					});
				o.setMap(t);
				var n = new google.maps.InfoWindow({
					content: "<strong>Silicon Valley, HITEC City <br> Hyderabad, Telangana 500081</strong>"
				});
				google.maps.event.addListener(o, "click", function () {
					n.open(t, o)
				})
			}
			var a;
			a = new google.maps.LatLng("17.451603", "78.380930"), google.maps.event.addDomListener(window, "load", e), a = new google.maps.LatLng("17.451603", "78.380930")
		});

	</script>
</body>

</html>