<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="SIAMCO SAS">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	<meta name="keywords" content="Lavado de tanques y desinfección">
	<meta name="description"
		content="Lavado de tanques y desinfección">
	<title>Lavado de Tanques</title>
	<link rel="shortcut icon" href="{%  static 'lavado/images/ico_uno.png' %}" />
	<link rel="stylesheet" type="text/css" href="{%  static 'lavado/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{%  static 'lavado/css/style_index.css' %}">
	<link href="{%  static 'lavado/css/one.css' %}" id="style_theme" rel="stylesheet">
</head>
<body>

    
    
</body>
</html>